.notfound-page {
  min-height: 100vh;
  background: linear-gradient(180deg, #020617, #020617);
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;

  text-align: center;
  padding: 20px;
}

.notfound-page h1 {
  font-size: 5rem;
  font-weight: 800;
  color: #22c55e;
}

.notfound-page h2 {
  font-size: 1.5rem;
}

.notfound-page p {
  color: #94a3b8;
  max-width: 400px;
}

.btn-home {
  margin-top: 10px;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;

  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: #022c22;

  font-weight: 600;
  cursor: pointer;
}
